{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>KAINERUGABA JOHNBILL - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of KAINERUGABA JOHNBILL."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src= "{% static 'images/headshot.jpg' %}" alt="JB" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Kainerugaba Johnbill</h1>
			<h2 class="quickFade delayThree">Graduate Trainee</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="billj4905@gmail.com" target="_blank">billj4905@gmail.com</a></li>
				<li>w: <a href="http://www.bloggs.com">www.bloggs.com</a></li>
				<li>m: 0758510979</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>I'm an enthusiastic Information Systems and Technology student about to graduate. I'm excited to start my career in technology, where my problem-solving skills and curiosity drive me to stay updated with trends. I've honed my programming, database, and systems analysis skills during my studies. I thrive in teamwork, valuing open communication and diverse perspectives. I'm detail-oriented, committed to excellence, and eager to contribute my skills and enthusiasm to an innovative organization. I'm ready to learn, improve, and give my all as a trainee.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>  <!--work Experience -->
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>BACHELOR OF INFORMATION SYSTEMS AND TECHNOLOGY</h2>
					<p class="subDetails">NOV 2021 - FEB 2024 (EXPECTED)</p>
					<p>MAKERERE University</p>
				</article>
				
				<article>
					<h2>ADVANCED CERTIFICATION (U.A.C.E) </h2>
					<p class="subDetails">FEB 2018 - NOV 2019</p>
					<p>SEETA HIGH SCHOOL MUKONO</p>
				</article>
				
				<article>
					<h2>ORDINARY CERTIFICATION (U.C.E)</h2>
					<p class="subDetails">MAR 2014 - NOV 2017</p>
					<p>SEETA HIGH SCHOOL MUKONO</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>DATABASE MANAGEMENT</li>
					<br>
					<li>WEB DEVELOPMENT</li>
					<br>
					<li>PRESENTATION DESIGN</li>
					<br>
					<li>DIGITAL MARKETING</li>
					<br>
					<li>GRAPHICS DESIGN</li>
					<br>
					<li>WEB HOSTING</li>
					
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>  <!--work Experience -->
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Internship Student</h2>
					<p class="subDetails">Najim Mall Ntinda, 256 Kampala, Uganda</p>
					<p class="subDetails">2019 - 2022</p>
					<p>
						●Provided clerical support, addressing routine, and special requirements.
						<br>
						●Reported back to the instructor to receive day-to-day tasks and responsibilities.
						<br>
						●Delivered clerical support by handling a range of routine and special requirements.
						<br>
						●Analyzed problems and worked with teams to develop solutions.
						<br>
						●Communicated effectively with faculty and staff and accepted critiques and suggestions for areas of improvement.
					<br>
				</p>
				</article>	
			</div>

			<div class="clear"></div>
		</section>
	<br>

		

		<section>
			<div class="sectionTitle">
				<h1>Languages</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>●PYTHON-DJANGO</li>
					<br>
					<li>●SQL</li>
					<br>
					<li>●HTML</li>
					<br>
					<li>●XML</li>
					<br>
					<li>●CSS</li>
					<br>
					<li>●BOOTSTRAP</li>
					
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
	
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>